
.custom-file-input:before {
    background-color: rgba(0, 0, 0, 0.85) !important;
    color: white;
}

.custom-file-input:after {
    background-color: rgba(0, 0, 0, 0.85) !important;
    color: white;
}

.graybutton {
    color: black;
    background-color: #e7e7e7;
}

.divider {
    border-color: white;
    color: white;
    background-color: white;
}
