th {
    color: white;
}

td {
    color: white;
}

table {
    margin: auto;
    width: 50% !important;
    table-layout: auto;
    background-color: rgba(0, 0, 0, 0.65);
}

.table-hover tbody tr.no-hover {
    background-color:transparent !important;
}

.table-hover tbody tr td:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.table-hover tbody tr th.hover:hover {
    background-color: rgba(0, 0, 0, 0.85);
}
